@font-face {
    font-family: rubic;
    src: url(../assets/JosefinSans-Regular.ttf);
}

.title {
    font-family: rubic;
}

.singleImageHover :hover {
    border: 1px solid #ffab00 !important;
}

.bigItem {

    width: auto;
    height: 567px !important;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.btn-change {
    height: 38px;
    width: 113px;
    background: #ffab00;
    margin: 20px;
    float: left;
    border: 0px !important;
    color: whitesmoke;
    box-shadow: 0 0 1px rgb(10, 6, 6);
    transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #060a0c inset;
    margin-left: 0px !important;
    width: 223px;
    height: 50px;
    font-family: young-serif;
    font-size: 15px;
}

.addToBag:hover {
    box-shadow: 223px 0 0 #040505 inset;
}

.smallItem {
    height: 179px !important;
    width: auto !important;

}

.smallItem1 {
    margin-bottom: 15px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 171, 0, 0.45) !important;
}

.circle-btn {
    min-height: 100px;
    line-height: 100px;

}

.circle-btn button {
    margin: 10px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 12px;
    border-color: #c7c7c7;
    font-weight: 500;
}

/* --image changer-- */





.previews,
.full,
.desc {}

.desc,
.full {

    font-size: 12px;
}

.desc h2 {}

.previews a {}

.full,
.full img {}

.previews a,
.full {}

.previews a:hover,
.previews a.selected {}

.full img:hover {
    cursor: pointer;
}